a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0px 40px;
}
.login{
    margin-top: 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
body{
    width: 70%;
    margin: 0 auto;
    color: white;
}