<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div>
            <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/netflix_official_logo_icon_168085.png" alt="Netflix" width="150px" height="70px">
        </div>
        <div class="login">
            <a href="">Language</a>
            <a href="">Login</a>
        </div>
    </div>
</body>
</html>