<div>
    <div>
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" [(ngModel)]="name"></td>
            </tr>
            <tr>
                <td><label>age</label></td>
                <td><input type="number" [(ngModel)]="age"></td>
            </tr>
            <tr>
                <td><label>id</label></td>
                <td><input type="number" value="{{id}}"></td>
            </tr>
            <tr>
                <td><label>marks</label></td>
                <td><input type="number" value="{{marks}}"></td>
            </tr>
        </table>
    </div>

    <hr>

    <div>
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><label>{{name}}</label></td>
            </tr>
            <tr>
                <td><label>age</label></td>
                <td><label>{{age}}</label></td>
            </tr>
            <tr>
                <td><label>id</label></td>
                <td><label>{{id}}</label></td>
            </tr>
            <tr>
                <td><label>marks</label></td>
                <td><label>{{marks}}</label></td>
            </tr>
        </table>
    </div>
</div>
