<div>
    <ul>
        <li>
            <a href="" class="btn-click" name="electronics" (click)="getName($event)">electronics [{{ eleCount }}]</a>
        </li>
        <li>
            <a href="" class="btn-click" name="jewelery" (click)="getName($event)">jewelery [{{jewCount}}]</a>
        </li>
        <li>
            <a href="" class="btn-click" name="men's clothing" (click)="getName($event)">men's clothing [{{mensCount}}]</a>
        </li>
        <li>
            <a href="" class="btn-click" name="women's clothing" (click)="getName($event)">women's clothing [{{womensCount}}]</a>
        </li>
    </ul>
</div>
